<!-- top banner -->
<mat-toolbar color="primary">
  <img src="../assets/2659980.png" class="img" />
  <span
    >Covid-19 Date-wise, State-wise, and District-wise Tracker By
    Sarathlal</span
  >
  <span class="example-spacer"></span>
</mat-toolbar>

<table class="formtable">
  <tr>
    <td>
      <!-- date picker -->
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="date"
          (dateChange)="dateChanged()"
          [matDatepickerFilter]="postDateFilter"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <!-- dropdown -->
      <mat-form-field appearance="fill">
        <mat-label>Choose an order</mat-label>
        <mat-select
          [(value)]="selectedOption"
          (selectionChange)="onOptionChanged()"
        >
          <mat-option value="name">State Name</mat-option>
          <mat-option value="population">Population</mat-option>
          <mat-option value="test">Total Tests</mat-option>
          <mat-option value="confirmed">Confirmed</mat-option>
          <mat-option value="deltaConfirmed">Newly Confirmed</mat-option>
          <mat-option value="recovered">Recovered</mat-option>
          <mat-option value="deceased">Deceased</mat-option>
          <mat-option value="percentage">Percentage</mat-option>
          <mat-option value="deltaPercentage">Daily Percentage</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>
<!-- search input -->
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- StateName Column -->
    <ng-container matColumnDef="stateName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>StateName</th>
      <td mat-cell *matCellDef="let element">
        <b
          ><i>{{ element.stateName }}</i></b
        >
      </td>
    </ng-container>
    <!-- Population Column -->
    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Population</th>
      <td mat-cell *matCellDef="let element">
        {{ element.population | number }}
      </td>
    </ng-container>
    <!-- Tested Column -->
    <ng-container matColumnDef="tested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tested</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.tested | number }}</p>
        <span class="badge badge-info">
          + {{ element.deltaTested | number }}</span
        >
      </td></ng-container
    >

    <!-- Confirmed Column -->
    <ng-container matColumnDef="confirmed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirmed</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.confirmed | number }}</p>
        <span class="badge badge-warning">
          + {{ element.deltaConfirmed | number }}
        </span>
      </td>
    </ng-container>
    <!-- Percentage column-->
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
      <td mat-cell *matCellDef="let element">
        <P>{{ element.percentage | number }}</P>
        <span class="badge badge-secondary">
          +{{ element.deltaPercentage | number }}
        </span>
      </td>
    </ng-container>
    <!-- recovered column -->
    <ng-container matColumnDef="recovered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recovered</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.recovered | number }}</p>
        <span class="badge badge-success">
          + {{ element.deltaRecovered | number }}
        </span>
      </td>
    </ng-container>
    <!-- Deceased column-->
    <ng-container matColumnDef="deceased">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Deceased</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.deceased | number }}</p>
        <span class="badge badge-danger">
          +{{ element.deltaDeceased | number }}
        </span>
      </td>
    </ng-container>
    <!-- districts column-->
    <ng-container matColumnDef="districts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Districts</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="showDistricts(element.stateCode)">
          <mat-icon aria-hidden="false" aria-label="show districts"
            >arrow_right_alt</mat-icon
          >
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
